.drum-pad {
  background: coral;
  height: 100px;
  width: 100px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.drum-pad:active {
  background: rebeccapurple;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  color: #fff;
  font-size: 32px;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}

#display {
  height: 90px;
  font-size: 85px;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
}